
@page "/product/add"
@inject ILogger<Products> logger;
@inject IProductService productService;
@inject ICategoryService categoryService;
@inject NavigationManager NavigationManager;

<PageTitle>Add - Product</PageTitle>

<ModuleTitle Title="Add Product"></ModuleTitle>

<button class="btn btn-dark" @onclick="@(()=>NavigationManager.NavigateTo("/product"))">Back</button>
<EditForm Model="@product" OnSubmit="@Save">
    <div class="row">
        <div class="col-6 form-group">
            <label for="title" class="col-form-label">Title</label>
            <InputText id="title" @bind-Value="product.title" required class="form-control"></InputText>
        </div>
        <div class="col-6 form-group">
            <label for="price" class="col-form-label">Price</label>
            <InputNumber id="price" @bind-Value="product.price" required class="form-control"></InputNumber>
        </div>
        <div class="col-6 form-group">
            <label for="category" class="col-form-label">Category</label>
            <InputSelect id="category" @bind-Value="product.categoryId" require class="form-control">
                <option>Select Category ...</option>
                @foreach (var category in categories)
                {
                    <option value="@category.id">@category.name</option>
                }
            </InputSelect>
        </div>
        <div class="col-6 form-group">
            <label for="image" class="col-form-label">Image (URL)</label>
            <InputText id="image" @bind-Value="product.image" required class="form-control"></InputText>
        </div>
        <div class="col-12 form-group">
            <label for="description" class="col-form-label">Description</label>
            <InputTextArea id="description" @bind-Value="product.description" required class="form-control"></InputTextArea>
        </div>
        <button class="btn btn-success btn-sm" type="submit">Guardar</button>
    </div>
</EditForm>

@code{
    private Product product = new();

    private List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        categories = await categoryService.GetAll() ?? new List<Category>();
    }

    private async Task Save(){
        product.images.Add(product.image);
        await productService.Add(product);
        NavigationManager.NavigateTo("/product");
    }
}
